# Isso é um .env example, copie e cole no back para que funcione corretamente.

POSTGRES_DB=aefp
POSTGRES_USER=AEFP
POSTGRES_PASSWORD=AEFP_CHEC

DATABASE_URL=postgresql://aefp:aefp@db:5432/aefp

NEXT_PUBLIC_API_URL=http://localhost:8000
